<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="alternate" type="application/rss+xml" title="blog.supermasita.com - RSS" href="{{ "feed.xml" | relative_url }}"/>
  
  {%- seo -%}
  <link rel="stylesheet" href="{{ "/assets/main.css" | relative_url }}">
  {%- feed_meta -%}

  {% if site.tags != "" %}
    {% include collecttags.html %}
  {% endif %}

  <meta name="google-site-verification" content="xbf-drgwyIc1VT-x9GO2u7t6QWE4OdHo-SljbZbh1tE" />
</head>
